.f1 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/home/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.f1 .content {
  max-width: 500px;
  padding: 230px 50px 60px 50px;
  color: white;
  text-shadow: 0px 0px 3px rgba(8, 8, 8, 0.635);
}
.f1 .content p {
  font-size: 1.2rem;
}
.f1 .content h1 {
  font-size: 2.5rem;
}
@media screen and (max-width: 426px) {
  .f1 .content {
    padding: 330px 10px 60px 10px;
  }
  .f1 .content p {
    font-size: 0.9rem;
  }
  .f1 .content h1 {
    font-size: 1.8rem;
  }
}
.f1 .arrow-div {
  color: aliceblue;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 300;
}
.f1 .arrow {
  width: 100px;
}

.f2 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/home/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.f2 .content {
  max-width: 500px;
  padding: 230px 50px 60px 50px;
  color: white;
  text-shadow: 0px 0px 3px rgba(8, 8, 8, 0.635);
}
.f2 .content p {
  font-size: 1.2rem;
}
.f2 .content h1 {
  font-size: 2.5rem;
}
@media screen and (max-width: 426px) {
  .f2 .content {
    padding: 330px 10px 60px 10px;
  }
  .f2 .content p {
    font-size: 0.9rem;
  }
  .f2 .content h1 {
    font-size: 1.8rem;
  }
}

.f3 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/home/02.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.f3 .content {
  max-width: 500px;
  padding: 230px 50px 60px 50px;
  color: white;
  text-shadow: 0px 0px 3px rgba(8, 8, 8, 0.635);
}
.f3 .content p {
  font-size: 1.2rem;
}
.f3 .content h1 {
  font-size: 2.5rem;
}
@media screen and (max-width: 426px) {
  .f3 .content {
    padding: 330px 10px 60px 10px;
  }
  .f3 .content p {
    font-size: 0.9rem;
  }
  .f3 .content h1 {
    font-size: 1.8rem;
  }
}

.f4 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/home/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.f4 .content {
  max-width: 500px;
  padding: 230px 50px 60px 50px;
  color: white;
  text-shadow: 0px 0px 3px rgba(8, 8, 8, 0.635);
}
.f4 .content p {
  font-size: 1.2rem;
}
.f4 .content h1 {
  font-size: 2.5rem;
}
@media screen and (max-width: 426px) {
  .f4 .content {
    padding: 330px 10px 60px 10px;
  }
  .f4 .content p {
    font-size: 0.9rem;
  }
  .f4 .content h1 {
    font-size: 1.8rem;
  }
}

/* .f1{
    width: 100vw;
    height: 100vh;
    background-image: url("../../img/home/01.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;

    .content{
        max-width: 400px;
        margin: 150px 50px;
        color: white;
        text-shadow: 0px 0px 3px rgba(8, 8, 8, 0.635);
        p{
            font-size: 1.2rem;
        }
        h1{
            font-size: 2.5rem;
        }
    }
} */
.human1 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/human/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.human1 .content {
  color: aliceblue;
  text-shadow: 0px 0px 3px rgba(8, 8, 8, 0.635);
  text-align: center;
}
.human1 .content h1 {
  font-size: 6.5rem;
}
.human1 .content p {
  font-size: 1rem;
  font-weight: 300;
}
.human1 .arrow-div {
  margin-top: 50px;
  color: aliceblue;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: center;
}
.human1 .arrow {
  width: 150px;
}
@media screen and (max-width: 426px) {
  .human1 .content h1 {
    font-size: 3rem;
  }
}

.human2 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/human/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.human2 .text {
  align-self: center;
  justify-self: center;
  font-size: 1rem;
  color: aliceblue;
  padding: 30px 20px;
  max-width: 800px;
  text-align: center;
  font-weight: 300;
}
.human2 .text .mail {
  color: #b9b9b9;
}
.human2 .content {
  align-self: flex-end;
  max-width: 500px;
  padding-right: 70px;
  padding-left: 45px;
}
.human2 .content p {
  font-size: 1rem;
  color: aliceblue;
}
.human2 .content h1 {
  font-size: 3rem;
  font-weight: 800;
  color: aliceblue;
}

.human3 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/human/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.human3 .content {
  padding: 80px 50px;
  color: aliceblue;
  max-width: 700px;
}
.human3 .content p {
  font-size: 1rem;
}
.human3 .content h1 {
  font-size: 3rem;
  font-weight: 800;
}

.human4 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/human/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.human4 .content {
  align-self: flex-end;
  max-width: 500px;
  padding-right: 70px;
}
.human4 .content p {
  font-size: 1rem;
  color: aliceblue;
}
.human4 .content h1 {
  font-size: 3rem;
  font-weight: 800;
  color: aliceblue;
}

.human5 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/human/05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.human5 .content {
  padding: 80px 50px;
  color: aliceblue;
  max-width: 700px;
}
.human5 .content p {
  font-size: 1rem;
}
.human5 .content h1 {
  font-size: 3rem;
  font-weight: 800;
}

.human6 {
  width: 100vw;
  height: 70vh;
  background-color: black;
  color: aliceblue;
  padding: 200px 100px;
}
.human6 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.human6 .mail {
  color: #b9b9b9;
}
.human6 .buttons {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 426px) {
  .human6 {
    padding: 100px 40px;
  }
  .human6 .buttons {
    flex-direction: column;
    gap: 35px;
  }
}

.falcon1 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.falcon1 .content {
  color: aliceblue;
  text-shadow: 0px 0px 3px rgba(8, 8, 8, 0.635);
  text-align: center;
}
.falcon1 .content h1 {
  font-size: 8.5rem;
}
.falcon1 .content p {
  font-size: 1rem;
  font-weight: 300;
}
.falcon1 .arrow-div {
  margin-top: 50px;
  color: aliceblue;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: center;
}
.falcon1 .arrow {
  width: 150px;
}
@media screen and (max-width: 426px) {
  .falcon1 .content {
    padding: 30px;
  }
  .falcon1 .content h1 {
    font-size: 3rem;
  }
}

.falcon2 {
  background-color: black;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: aliceblue;
}
.falcon2 h1 {
  font-size: 5rem;
}
.falcon2 p {
  font-size: 1rem;
  font-weight: 300;
}
@media screen and (max-width: 426px) {
  .falcon2 {
    padding: 0 30px;
  }
  .falcon2 h1 {
    font-size: 3rem;
  }
  .falcon2 p {
    font-size: 0.8rem;
  }
}

.falcon3 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: aliceblue;
  display: flex;
  align-items: center;
}
.falcon3 .content {
  max-width: 600px;
  font-size: 1.5rem;
  padding: 30px;
}
@media screen and (max-width: 426px) {
  .falcon3 .content {
    max-width: 350px;
  }
}

.falcon4 .carrosel01 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon4 .carrosel02 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon4 .carrosel03 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon4 .carrosel04 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/06.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon4 .carrosel05 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/07.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon4 .content {
  max-width: 600px;
  padding-left: 100px;
  padding-top: 100px;
  color: aliceblue;
}
.falcon4 .content p {
  font-size: 1rem;
  font-weight: 300;
}
.falcon4 .content h1 {
  font-size: 2rem;
}
.falcon4 .content h2 {
  font-size: 1.2rem;
}
@media screen and (max-width: 426px) {
  .falcon4 .content {
    max-width: 350px;
    padding-top: 40px;
    padding-left: 30px;
  }
}

.falcon5 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/08.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon5 .content {
  max-width: 600px;
  padding-left: 100px;
  padding-top: 100px;
  color: aliceblue;
}
.falcon5 .content p {
  font-size: 1rem;
  font-weight: 300;
}
.falcon5 .content h1 {
  font-size: 2rem;
}
.falcon5 .content h2 {
  font-size: 1.2rem;
}
@media screen and (max-width: 426px) {
  .falcon5 .content {
    max-width: 280px;
    padding-top: 150px;
    padding-left: 30px;
  }
}

.falcon6 {
  width: 100vw;
  height: 100vh;
}
.falcon6 .carrosel06 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/09.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon6 .carrosel07 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon6 .carrosel08 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon6 .carrosel09 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon6 .carrosel10 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon6 .carrosel11 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/falcon9/14.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.falcon6 p {
  font-size: 1.2rem;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.385);
}

.falcon7 {
  width: 100vw;
  height: 70vh;
  background-color: black;
  color: aliceblue;
  padding: 200px 100px;
}
.falcon7 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.falcon7 .mail {
  color: #b9b9b9;
}
.falcon7 .buttons {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 426px) {
  .falcon7 {
    padding: 100px 40px;
  }
  .falcon7 .buttons {
    flex-direction: column;
    gap: 35px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100vw;
  position: absolute;
  padding: 20px 50px;
}
.header #navbar {
  color: aliceblue;
}
.header #navbar a {
  color: aliceblue;
  font-size: 0.8rem;
  text-shadow: 0px 0px 3px rgba(8, 8, 8, 0.635);
}
.header #navbar a:hover {
  color: #b9b9b9;
}
.header #logo {
  width: 220px;
}
@media screen and (max-width: 426px) {
  .header {
    padding: 10px 20px;
  }
  .header #logo {
    width: 150px;
  }
}

.footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.footer #copy {
  color: #555252;
  font-size: 0.6rem;
}
.footer a {
  color: aliceblue;
}
.footer a:hover {
  color: #b9b9b9;
}

/*# sourceMappingURL=style.css.map */
