@mixin sessaoFalcon($caminho-da-imagem){
    width: 100vw;
    height: 100vh;
    background-image: url($caminho-da-imagem);
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;
}



.falcon1{
    @include sessaoFalcon("../../img/falcon9/01.jpg");
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    .content{
        color: aliceblue;
        text-shadow: 0px 0px 3px rgba(8, 8, 8, 0.635);
        text-align: center;
        h1{
            font-size: 8.5rem;
        }
        p{
            font-size: 1rem;
            font-weight: 300;
        }
    }
    .arrow-div{
        margin-top: 50px;
        color: aliceblue;
        font-size: 0.7rem;
        font-weight: 300;
        text-align: center;
    }
    .arrow{
        width: 150px;
    }
}

.falcon2{
    background-color: black;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: aliceblue;

    h1{
        font-size: 5rem;
    }

    p{
        font-size: 1rem;
        font-weight: 300;
    }
}

.falcon3{
    @include sessaoFalcon("../../img/falcon9/02.jpg");

    color: aliceblue;
    display: flex;
    align-items: center;

    .content{
        max-width: 600px;
        font-size: 1.5rem;
        padding: 30px;
    }
}

.falcon4{
    .carrosel01{
        @include sessaoFalcon("../../img/falcon9/03.jpg");
    } 
    .carrosel02{
        @include sessaoFalcon("../../img/falcon9/04.jpg");
    }
    .carrosel03{
        @include sessaoFalcon("../../img/falcon9/05.jpg");
    }
    .carrosel04{
        @include sessaoFalcon("../../img/falcon9/06.jpg");
    }
    .carrosel05{
        @include sessaoFalcon("../../img/falcon9/07.jpg");
    }
    .content{
        max-width: 600px;
        padding-left: 100px;
        padding-top: 100px;
        color: aliceblue;
        p{
            font-size: 1rem;
            font-weight: 300;
        }
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.2rem;
        }
    }
}

.falcon5{
    @include sessaoFalcon("../../img/falcon9/08.jpg");
    .content{
        max-width: 600px;
        padding-left: 100px;
        padding-top: 100px;
        color: aliceblue;
        p{
            font-size: 1rem;
            font-weight: 300;
        }
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.2rem;
        }
    }
}

.falcon6{
    width: 100vw;
    height: 100vh;
    .carrosel06{
        @include sessaoFalcon("../../img/falcon9/09.jpg");
    } 
    .carrosel07{
        @include sessaoFalcon("../../img/falcon9/10.jpg");
    } 
    .carrosel08{
        @include sessaoFalcon("../../img/falcon9/11.jpg");
    } 
    .carrosel09{
        @include sessaoFalcon("../../img/falcon9/12.jpg");
    } 
    .carrosel10{
        @include sessaoFalcon("../../img/falcon9/13.jpg");
    } 
    .carrosel11{
        @include sessaoFalcon("../../img/falcon9/14.jpg");
    } 
    p{
        font-size: 1.2rem;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.385);
    }
}

.falcon7{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: aliceblue;
    padding: 200px 100px;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        text-align: center;
    }

    .buttons{
        display: flex;
        gap: 20px;
    }
}






























