@mixin sessaoFalcon($caminho-da-imagem){
    width: 100vw;
    height: 100vh;
    background-image: url($caminho-da-imagem);
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;
}

*{
    border: 1px solid rgb(255, 129, 129);
}


.falcon1{
    @include sessaoFalcon("../../img/falcon9/01.jpg");
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    .content{
        color: aliceblue;
        text-shadow: 0px 0px 3px rgba(8, 8, 8, 0.635);
        text-align: center;
        h1{
            font-size: 8.5rem;
        }
        p{
            font-size: 1rem;
            font-weight: 300;
        }
    }
    .arrow-div{
        margin-top: 50px;
        color: aliceblue;
        font-size: 0.7rem;
        font-weight: 300;
        text-align: center;
    }
    .arrow{
        width: 150px;
    }
}

.falcon2{
    background-color: black;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: aliceblue;

    h1{
        font-size: 5rem;
    }

    p{
        font-size: 1rem;
        font-weight: 300;
    }
}

.falcon3{
    @include sessaoFalcon("../../img/falcon9/02.jpg");

    color: aliceblue;
    display: flex;
    align-items: center;

    .content{
        max-width: 600px;
        font-size: 1.5rem;
        padding: 30px;
    }
}

.falcon4{
    #carrosel01{
        @include sessaoFalcon("../../img/falcon9/03.jpg");
    }
    #carrosel2{
        @include sessaoFalcon("../../img/falcon9/04.jpg");
        width: 100vw;
        height: 100vh;
        /* background-image: url($caminho-da-imagem);
        background-size: cover;
        background-repeat: no-repeat;   
        background-position: center; */
    }
    .content{
        max-width: 600px;
        padding-left: 100px;
        padding-top: 100px;
        color: aliceblue;
        p{
            font-size: 1rem;
            font-weight: 300;
        }
        h1{
            font-size: 2rem;
        }
        
        table{
            background-color: red;
        }
    }
}































